# Auto detect text files and perform LF normalization
* text=auto
*.rc linguist-language=Assembly

#ignore dirs/files
DragonBurn/Resources/*		    linguist-vendored
DragonBurn/OS-ImGui/*		      linguist-vendored
DragonBurn/Utils/yaml-cpp/*		linguist-vendored
